# Virtual Environment
*.pem
env/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3

# Static files
staticfiles/

# Media files
media/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db